openapi: 3.1.0
info:
  title: UMA as a Service (UMAaaS) API
  description: |
    API for managing global payments to and from UMA addresses. 
    This service facilitates cross-currency financial transactions using simple human-readable UMA addresses.
  version: '2025-05-15'
  contact:
    name: Lightspark Support
    email: support@lightspark.com
  license:
    name: Proprietary
    url: https://lightspark.com/terms
servers:
  - url: https://api.uma.money/umaaas/2025-05-15
    description: Production server
security:
  - BasicAuth: []
tags:
  - name: Platform Configuration
    description: Platform configuration endpoints for managing global settings. You can also configure these settings in the UMAaas dashboard.
  - name: Users
    description: User management endpoints for creating and updating user information
  - name: External Accounts
    description: External account management endpoints for creating and managing external bank accounts
  - name: Transfer In
    description: Endpoints for transferring funds from external accounts to internal accounts
  - name: Transfer Out
    description: Endpoints for transferring funds from internal accounts to external accounts
  - name: Sending Payments
    description: Endpoints for creating and confirming quotes for transfers between accounts
  - name: Transactions
    description: Endpoints for retrieving transaction information
  - name: Webhooks
    description: Webhook endpoints and configuration for receiving notifications
  - name: Invitations
    description: Endpoints for creating, claiming and managing UMA invitations
  - name: Sandbox
    description: Endpoints to trigger test cases in sandbox
  - name: API Tokens
    description: Endpoints to programatically manage API tokens
paths:
  /config:
    get:
      summary: Get platform configuration
      description: Retrieve the current platform configuration
      operationId: getPlatformConfig
      tags:
        - Platform Configuration
      security:
        - BasicAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformConfig'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
    patch:
      summary: Update platform configuration
      description: Update the platform configuration settings
      operationId: updatePlatformConfig
      tags:
        - Platform Configuration
      security:
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                umaDomain:
                  type: string
                  example: mycompany.com
                webhookEndpoint:
                  type: string
                  example: https://api.mycompany.com/webhooks/uma
                supportedCurrencies:
                  type: array
                  items:
                    $ref: '#/components/schemas/PlatformCurrencyConfig'
            example:
              umaDomain: mycompany.com
              webhookEndpoint: https://api.mycompany.com/webhooks/uma
              supportedCurrencies:
                - currencyCode: USD
                  minAmount: 100
                  maxAmount: 1000000
                  enabledTransactionTypes:
                    - OUTGOING
                    - INCOMING
                  requiredCounterpartyFields:
                    - name: FULL_NAME
                      mandatory: true
                    - name: NATIONALITY
                      mandatory: true
                    - name: BIRTH_DATE
                      mandatory: true
      responses:
        '200':
          description: Configuration updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformConfig'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error501'
  /tokens:
    post:
      summary: Create a new API token
      description: Create a new API token to access the UMAaaS APIs.
      operationId: createToken
      tags:
        - API Tokens
      security:
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: tokenCreate
              properties:
                name:
                  type: string
                  description: Name of the token to help identify it
                  example: Sandbox read-only
                permissions:
                  type: array
                  description: A list of permissions to grant to the token
                  items:
                    $ref: '#/components/schemas/Permission'
              required:
                - name
                - permissions
      responses:
        '201':
          description: API token created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiToken'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
    get:
      summary: List tokens
      description: |
        Retrieve a list of API tokens with optional filtering parameters. Returns all tokens that match
        the specified filters. If no filters are provided, returns all tokens (paginated).
      operationId: listTokens
      tags:
        - API Tokens
      security:
        - BasicAuth: []
      parameters:
        - name: name
          in: query
          description: Filter by name of the token
          required: false
          schema:
            type: string
        - name: createdAfter
          in: query
          description: Filter users created after this timestamp (inclusive)
          required: false
          schema:
            type: string
            format: date-time
        - name: createdBefore
          in: query
          description: Filter users created before this timestamp (inclusive)
          required: false
          schema:
            type: string
            format: date-time
        - name: updatedAfter
          in: query
          description: Filter users updated after this timestamp (inclusive)
          required: false
          schema:
            type: string
            format: date-time
        - name: updatedBefore
          in: query
          description: Filter users updated before this timestamp (inclusive)
          required: false
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          description: Maximum number of results to return (default 20, max 100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          description: Cursor for pagination (returned from previous request)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasMore
                properties:
                  data:
                    type: array
                    description: List of tokens matching the filter criteria
                    items:
                      $ref: '#/components/schemas/ApiToken'
                  hasMore:
                    type: boolean
                    description: Indicates if more results are available beyond this page
                  nextCursor:
                    type: string
                    description: Cursor to retrieve the next page of results (only present if hasMore is true)
                  totalCount:
                    type: integer
                    description: Total number of tokens matching the criteria (excluding pagination)
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /tokens/{tokenId}:
    parameters:
      - name: tokenId
        in: path
        description: System-generated unique token identifier
        required: true
        schema:
          type: string
    get:
      summary: Get API token by ID
      description: Retrieve an API token by their system-generated ID
      operationId: getTokenById
      tags:
        - API Tokens
      security:
        - BasicAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiToken'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: Token not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
    delete:
      summary: Delete API token by ID
      description: Delete an API token by their system-generated ID
      operationId: deleteTokenById
      tags:
        - API Tokens
      security:
        - BasicAuth: []
      responses:
        '204':
          description: API token deleted successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: Token not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /users:
    post:
      summary: Add a new user
      description: Register a new user in the system with an account identifier and bank account information
      operationId: createUser
      tags:
        - Users
      security:
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Individual User
                  allOf:
                    - $ref: '#/components/schemas/IndividualUserUpdate'
                    - type: object
                      required:
                        - platformUserId
                        - userType
                      properties:
                        platformUserId:
                          type: string
                          description: Platform-specific user identifier
                          example: 9f84e0c2a72c4fa
                        userType:
                          type: string
                          enum:
                            - INDIVIDUAL
                          description: User type
                        kycUrl:
                          type: string
                          description: A kyc url to be shared with your individual user if kyc needs to be completed
                          example: http%3A%2F%2Fexample.com%2Fkyc
                - title: Business User
                  allOf:
                    - $ref: '#/components/schemas/BusinessUserUpdate'
                    - type: object
                      required:
                        - platformUserId
                        - userType
                      properties:
                        platformUserId:
                          type: string
                          description: Platform-specific user identifier
                          example: 9f84e0c2a72c4fa
                        userType:
                          type: string
                          enum:
                            - BUSINESS
                          description: User type
                        kycUrl:
                          type: string
                          description: A kyc url to be shared with your business user if kyc needs to be completed
                          example: http%3A%2F%2Fexample.com%2Fkyc
              discriminator:
                propertyName: userType
                mapping:
                  INDIVIDUAL: '#/components/schemas/IndividualUserUpdate'
                  BUSINESS: '#/components/schemas/BusinessUserUpdate'
            examples:
              individualUserWithUmaAddress:
                summary: Create individual user with UMA address, including deposit bank account information.
                value:
                  umaAddress: $jane.doe@uma.domain.com
                  platformUserId: 7b3c5a89d2f1e0
                  userType: INDIVIDUAL
                  fullName: Jane Doe
                  birthDate: '1992-03-25'
                  address:
                    line1: 123 Pine Street
                    line2: Unit 501
                    city: Seattle
                    state: WA
                    postalCode: '98101'
                    country: US
                  bankAccountInfo:
                    accountType: US_ACCOUNT
                    accountNumber: '12345678901'
                    routingNumber: '123456789'
                    accountCategory: CHECKING
                    bankName: Chase Bank
                    platformAccountId: chase_primary_1234
              individualUserWithoutUmaAddress:
                summary: Create individual user without UMA address (will be generated)
                value:
                  platformUserId: 7b3c5a89d2f1e0
                  userType: INDIVIDUAL
                  fullName: John Smith
                  birthDate: '1985-06-10'
                  address:
                    line1: 456 Oak Avenue
                    city: Portland
                    state: OR
                    postalCode: '97201'
                    country: US
              businessUser:
                summary: Create business user example
                value:
                  platformUserId: 6e4d2c0b8a9f3
                  userType: BUSINESS
                  businessInfo:
                    legalName: Acme Corporation
                    registrationNumber: BRN-456789123
                    taxId: EIN-987123456
                  address:
                    line1: 400 Commerce Way
                    city: Austin
                    state: TX
                    postalCode: '78701'
                    country: US
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                oneOf:
                  - title: Individual User
                    $ref: '#/components/schemas/IndividualUser'
                  - title: Business User
                    $ref: '#/components/schemas/BusinessUser'
                discriminator:
                  propertyName: userType
                  mapping:
                    INDIVIDUAL: '#/components/schemas/IndividualUser'
                    BUSINESS: '#/components/schemas/BusinessUser'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '409':
          description: Conflict - User with the UMA address already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error501'
    get:
      summary: List users
      description: |
        Retrieve a list of users with optional filtering parameters. Returns all users that match
        the specified filters. If no filters are provided, returns all users (paginated).
      operationId: listUsers
      tags:
        - Users
      security:
        - BasicAuth: []
      parameters:
        - name: platformUserId
          in: query
          description: Filter by platform-specific user identifier
          required: false
          schema:
            type: string
        - name: umaAddress
          in: query
          description: Filter by uma address
          required: false
          schema:
            type: string
        - name: userType
          in: query
          description: Filter by user type
          required: false
          schema:
            $ref: '#/components/schemas/UserType'
        - name: createdAfter
          in: query
          description: Filter users created after this timestamp (inclusive)
          required: false
          schema:
            type: string
            format: date-time
        - name: createdBefore
          in: query
          description: Filter users created before this timestamp (inclusive)
          required: false
          schema:
            type: string
            format: date-time
        - name: updatedAfter
          in: query
          description: Filter users updated after this timestamp (inclusive)
          required: false
          schema:
            type: string
            format: date-time
        - name: updatedBefore
          in: query
          description: Filter users updated before this timestamp (inclusive)
          required: false
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          description: Maximum number of results to return (default 20, max 100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          description: Cursor for pagination (returned from previous request)
          required: false
          schema:
            type: string
        - name: isIncludingDeleted
          in: query
          description: Whether to include deleted users in the results. Default is false.
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasMore
                properties:
                  data:
                    type: array
                    description: List of users matching the filter criteria
                    items:
                      oneOf:
                        - title: Individual User
                          $ref: '#/components/schemas/IndividualUser'
                        - title: Business User
                          $ref: '#/components/schemas/BusinessUser'
                      discriminator:
                        propertyName: userType
                        mapping:
                          INDIVIDUAL: '#/components/schemas/IndividualUser'
                          BUSINESS: '#/components/schemas/BusinessUser'
                  hasMore:
                    type: boolean
                    description: Indicates if more results are available beyond this page
                  nextCursor:
                    type: string
                    description: Cursor to retrieve the next page of results (only present if hasMore is true)
                  totalCount:
                    type: integer
                    description: Total number of users matching the criteria (excluding pagination)
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /users/{userId}:
    parameters:
      - name: userId
        in: path
        description: System-generated unique user identifier
        required: true
        schema:
          type: string
    get:
      summary: Get user by ID
      description: Retrieve a user by their system-generated ID
      operationId: getUserById
      tags:
        - Users
      security:
        - BasicAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                oneOf:
                  - title: Individual User
                    $ref: '#/components/schemas/IndividualUser'
                  - title: Business User
                    $ref: '#/components/schemas/BusinessUser'
                discriminator:
                  propertyName: userType
                  mapping:
                    INDIVIDUAL: '#/components/schemas/IndividualUser'
                    BUSINESS: '#/components/schemas/BusinessUser'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
    patch:
      summary: Update user by ID
      description: Update a user's metadata by their system-generated ID
      operationId: updateUserById
      tags:
        - Users
      security:
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Individual User Update
                  $ref: '#/components/schemas/IndividualUserUpdate'
                - title: Business User Update
                  $ref: '#/components/schemas/BusinessUserUpdate'
              discriminator:
                propertyName: userType
                mapping:
                  INDIVIDUAL: '#/components/schemas/IndividualUserUpdate'
                  BUSINESS: '#/components/schemas/BusinessUserUpdate'
            examples:
              individualUpdate:
                summary: Update individual user example
                value:
                  userType: INDIVIDUAL
                  fullName: John Smith
                  birthDate: '1985-06-15'
                  address:
                    line1: 456 Market St
                    city: San Francisco
                    state: CA
                    postalCode: '94103'
                    country: US
                  bankAccountInfo:
                    accountType: US_ACCOUNT
                    accountNumber: '11122233344'
                    routingNumber: '111222333'
                    accountCategory: CHECKING
                    bankName: Wells Fargo
                    platformAccountId: wf_checking_9012
              businessUpdate:
                summary: Update business user example
                value:
                  userType: BUSINESS
                  businessInfo:
                    legalName: New Tech Solutions LLC
                    registrationNumber: BRN-987654321
                    taxId: EIN-123456789
                  address:
                    line1: 100 Technology Parkway
                    city: Palo Alto
                    state: CA
                    postalCode: '94304'
                    country: US
                  bankAccountInfo:
                    accountType: US_ACCOUNT
                    accountNumber: '55566677788'
                    routingNumber: '555666777'
                    accountCategory: CHECKING
                    bankName: JP Morgan Chase
                    platformAccountId: chase_business_3456
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                oneOf:
                  - title: Individual User
                    $ref: '#/components/schemas/IndividualUser'
                  - title: Business User
                    $ref: '#/components/schemas/BusinessUser'
                discriminator:
                  propertyName: userType
                  mapping:
                    INDIVIDUAL: '#/components/schemas/IndividualUser'
                    BUSINESS: '#/components/schemas/BusinessUser'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
    delete:
      summary: Delete user by ID
      description: Delete a user by their system-generated ID
      operationId: deleteUserById
      tags:
        - Users
      security:
        - BasicAuth: []
      responses:
        '200':
          description: User deleted successfully
          content:
            application/json:
              schema:
                oneOf:
                  - title: Individual User
                    $ref: '#/components/schemas/IndividualUser'
                  - title: Business User
                    $ref: '#/components/schemas/BusinessUser'
                discriminator:
                  propertyName: userType
                  mapping:
                    INDIVIDUAL: '#/components/schemas/IndividualUser'
                    BUSINESS: '#/components/schemas/BusinessUser'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '410':
          description: User deleted already
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /users/kyc-link:
    parameters:
      - name: redirect_uri
        in: query
        description: An optional uri a customer will be redirected to after completing the hosted kyc flow
        required: false
        schema:
          type: string
    get:
      summary: Get a kyc link for onboarding a customer
      description: Generate a hosted kyc link to onboard a customer
      operationId: getKycLinkForUser
      tags:
        - Users
      security:
        - BasicAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  kycUrl:
                    type: string
                    description: A hosted kyc link for your customer to complete kyc
                    example: http%3A%2F%2Fexample.com%2Fredirect
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /internal-account:
    get:
      summary: Get all internal accounts
      description: |
        Retrieve a list of internal accounts with optional filtering parameters. Returns all internal accounts that match the specified filters. If no filters are provided, returns all internal accounts (paginated).
      operationId: listInternalAccounts
      tags:
        - Internal Account
      security:
        - BasicAuth: []
      parameters:
        - name: currency
          in: query
          description: Filter by currency code
          required: false
          schema:
            type: string
        - name: userId
          in: query
          description: Filter by internal accounts associated with a specific user
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of results to return (default 20, max 100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          description: Cursor for pagination (returned from previous request)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasMore
                properties:
                  data:
                    type: array
                    description: List of internal accounts matching the filter criteria
                    items:
                      $ref: '#/components/schemas/InternalAccount'
                  hasMore:
                    type: boolean
                    description: Indicates if more results are available beyond this page
                  nextCursor:
                    type: string
                    description: Cursor to retrieve the next page of results (only present if hasMore is true)
                  totalCount:
                    type: integer
                    description: Total number of users matching the criteria (excluding pagination)
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /external-accounts:
    get:
      summary: Get all external accounts
      description: |
        Retrieve a list of external accounts with optional filtering parameters. Returns all external accounts that match the specified filters. If no filters are provided, returns all  external accounts (paginated).
      operationId: listExternalAccounts
      tags:
        - External Accounts
      security:
        - BasicAuth: []
      parameters:
        - name: currency
          in: query
          description: Filter by currency code
          required: false
          schema:
            type: string
        - name: userId
          in: query
          description: Filter by external accounts associated with a specific user
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of results to return (default 20, max 100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          description: Cursor for pagination (returned from previous request)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasMore
                properties:
                  data:
                    type: array
                    description: List of external accounts matching the filter criteria
                    items:
                      $ref: '#/components/schemas/ExternalAccount'
                  hasMore:
                    type: boolean
                    description: Indicates if more results are available beyond this page
                  nextCursor:
                    type: string
                    description: Cursor to retrieve the next page of results (only present if hasMore is true)
                  totalCount:
                    type: integer
                    description: Total number of external accounts matching the criteria (excluding pagination)
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
    post:
      summary: Add a new external account
      description: Register a new external bank account for a user
      operationId: createExternalAccount
      tags:
        - External Accounts
      security:
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalAccount'
            examples:
              usBankAccount:
                summary: Create external US bank account
                value:
                  currency: USD
                  platformAccountId: ext_acc_123456
                  userId: User:019542f5-b3e7-1d02-0000-000000000001
                  status: ACTIVE
                  beneficiary:
                    counterpartyType: INDIVIDUAL_COUNTERPARTY
                    fullName: John Doe
                    email: john.doe@example.com
                  accountInfo:
                    accountType: US_ACCOUNT
                    accountNumber: '12345678901'
                    routingNumber: '123456789'
                    accountCategory: CHECKING
                    bankName: Chase Bank
              sparkWallet:
                summary: Create external Spark wallet
                value:
                  currency: BTC
                  platformAccountId: spark_wallet_001
                  userId: User:019542f5-b3e7-1d02-0000-000000000001
                  status: ACTIVE
                  beneficiary:
                    counterpartyType: INDIVIDUAL_COUNTERPARTY
                    fullName: Jane Smith
                    email: jane.smith@example.com
                  accountInfo:
                    accountType: SPARK_WALLET
                    address: '0x1234567890abcdef1234567890abcdef12345678'
                    name: My Spark Wallet
      responses:
        '201':
          description: External account created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccount'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '409':
          description: Conflict - External account already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /transfer-in:
    get:
      summary: List all transfer-in requests
      description: |
        Retrieve a list of transfer-in requests with optional filtering parameters. Returns all transfer-in requests that match the specified filters. If no filters are provided, returns all  transfer-in requests (paginated).
      operationId: listTransferIn
      tags:
        - Transfer In
      security:
        - BasicAuth: []
      parameters:
        - name: userId
          in: query
          description: Filter by user ID
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Filter by transfer status
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - PROCESSING
              - COMPLETED
              - FAILED
              - CANCELLED
        - name: sourceAccountId
          in: query
          description: Filter by source external account ID
          required: false
          schema:
            type: string
        - name: destinationAccountId
          in: query
          description: Filter by destination internal account ID
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of results to return (default 20, max 100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          description: Cursor for pagination (returned from previous request)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasMore
                properties:
                  data:
                    type: array
                    description: List of transfer-in requests matching the filter criteria
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The transfer request ID
                          example: transfer_019542f5-b3e7-1d02-0000-000000000001
                        userId:
                          type: string
                          description: The ID of the user
                          example: User:019542f5-b3e7-1d02-0000-000000000001
                        source:
                          type: object
                          properties:
                            accountId:
                              type: string
                              description: External account ID
                              example: e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
                        destination:
                          type: object
                          properties:
                            accountId:
                              type: string
                              description: Internal account ID
                              example: a12dcbd6-dced-4ec4-b756-3c3a9ea3d123
                        status:
                          type: string
                          description: Status of the transfer
                          example: PENDING
                        createdAt:
                          type: string
                          format: date-time
                          description: Timestamp when the transfer was created
                          example: '2025-10-03T12:00:00Z'
                        updatedAt:
                          type: string
                          format: date-time
                          description: Timestamp when the transfer was last updated
                          example: '2025-10-03T12:30:00Z'
                  hasMore:
                    type: boolean
                    description: Indicates if more results are available beyond this page
                  nextCursor:
                    type: string
                    description: Cursor to retrieve the next page of results (only present if hasMore is true)
                  totalCount:
                    type: integer
                    description: Total number of transfer-in requests matching the criteria (excluding pagination)
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
    post:
      summary: Create a transfer-in request
      description: |
        Transfer funds from an external account to an internal account for a specific user
      operationId: createTransferIn
      tags:
        - Transfer In
      security:
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - source
                - destination
              properties:
                userId:
                  type: string
                  description: The ID of the user initiating the transfer
                  example: User:019542f5-b3e7-1d02-0000-000000000001
                source:
                  type: object
                  required:
                    - accountId
                  properties:
                    accountId:
                      type: string
                      description: Reference to an external account ID
                      example: e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
                  description: Source external account details
                destination:
                  type: object
                  required:
                    - accountId
                  properties:
                    accountId:
                      type: string
                      description: Reference to an internal account ID
                      example: a12dcbd6-dced-4ec4-b756-3c3a9ea3d123
                  description: Destination internal account details
            examples:
              transferIn:
                summary: Transfer from external to internal account
                value:
                  userId: User:019542f5-b3e7-1d02-0000-000000000001
                  source:
                    accountId: e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
                  destination:
                    accountId: a12dcbd6-dced-4ec4-b756-3c3a9ea3d123
      responses:
        '201':
          description: Transfer-in request created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The transfer request ID
                    example: transfer_019542f5-b3e7-1d02-0000-000000000001
                  userId:
                    type: string
                    description: The ID of the user
                    example: User:019542f5-b3e7-1d02-0000-000000000001
                  source:
                    type: object
                    properties:
                      accountId:
                        type: string
                        description: External account ID
                        example: e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
                  destination:
                    type: object
                    properties:
                      accountId:
                        type: string
                        description: Internal account ID
                        example: a12dcbd6-dced-4ec4-b756-3c3a9ea3d123
                  status:
                    type: string
                    description: Status of the transfer
                    example: PENDING
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the transfer was created
                    example: '2025-10-03T12:00:00Z'
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: User or account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /transfer-out:
    get:
      summary: List all transfer-out requests
      description: |
        Retrieve a list of transfer-out requests with optional filtering parameters. Returns all transfer-out requests that match the specified filters. If no filters are provided, returns all  transfer-out requests (paginated).
      operationId: listTransferOut
      tags:
        - Transfer Out
      security:
        - BasicAuth: []
      parameters:
        - name: userId
          in: query
          description: Filter by user ID
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Filter by transfer status
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - PROCESSING
              - COMPLETED
              - FAILED
              - CANCELLED
        - name: sourceAccountId
          in: query
          description: Filter by source internal account ID
          required: false
          schema:
            type: string
        - name: destinationAccountId
          in: query
          description: Filter by destination external account ID
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of results to return (default 20, max 100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          description: Cursor for pagination (returned from previous request)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasMore
                properties:
                  data:
                    type: array
                    description: List of transfer-out requests matching the filter criteria
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The transfer request ID
                          example: transfer_019542f5-b3e7-1d02-0000-000000000002
                        userId:
                          type: string
                          description: The ID of the user
                          example: User:019542f5-b3e7-1d02-0000-000000000001
                        source:
                          type: object
                          properties:
                            accountId:
                              type: string
                              description: Internal account ID
                              example: a12dcbd6-dced-4ec4-b756-3c3a9ea3d123
                        destination:
                          type: object
                          properties:
                            accountId:
                              type: string
                              description: External account ID
                              example: e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
                        status:
                          type: string
                          description: Status of the transfer
                          example: PENDING
                        createdAt:
                          type: string
                          format: date-time
                          description: Timestamp when the transfer was created
                          example: '2025-10-03T12:00:00Z'
                        updatedAt:
                          type: string
                          format: date-time
                          description: Timestamp when the transfer was last updated
                          example: '2025-10-03T12:30:00Z'
                  hasMore:
                    type: boolean
                    description: Indicates if more results are available beyond this page
                  nextCursor:
                    type: string
                    description: Cursor to retrieve the next page of results (only present if hasMore is true)
                  totalCount:
                    type: integer
                    description: Total number of transfer-out requests matching the criteria (excluding pagination)
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
    post:
      summary: Create a transfer-out request
      description: |
        Transfer funds from an internal account to an external account for a specific user
      operationId: createTransferOut
      tags:
        - Transfer Out
      security:
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - source
                - destination
              properties:
                userId:
                  type: string
                  description: The ID of the user initiating the transfer
                  example: User:019542f5-b3e7-1d02-0000-000000000001
                source:
                  type: object
                  required:
                    - accountId
                  properties:
                    accountId:
                      type: string
                      description: Reference to an internal account ID
                      example: a12dcbd6-dced-4ec4-b756-3c3a9ea3d123
                  description: Source internal account details
                destination:
                  type: object
                  required:
                    - accountId
                  properties:
                    accountId:
                      type: string
                      description: Reference to an external account ID
                      example: e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
                  description: Destination external account details
            examples:
              transferOut:
                summary: Transfer from internal to external account
                value:
                  userId: User:019542f5-b3e7-1d02-0000-000000000001
                  source:
                    accountId: a12dcbd6-dced-4ec4-b756-3c3a9ea3d123
                  destination:
                    accountId: e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
      responses:
        '201':
          description: Transfer-out request created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The transfer request ID
                    example: transfer_019542f5-b3e7-1d02-0000-000000000002
                  userId:
                    type: string
                    description: The ID of the user
                    example: User:019542f5-b3e7-1d02-0000-000000000001
                  source:
                    type: object
                    properties:
                      accountId:
                        type: string
                        description: Internal account ID
                        example: a12dcbd6-dced-4ec4-b756-3c3a9ea3d123
                  destination:
                    type: object
                    properties:
                      accountId:
                        type: string
                        description: External account ID
                        example: e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
                  status:
                    type: string
                    description: Status of the transfer
                    example: PENDING
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the transfer was created
                    example: '2025-10-03T12:00:00Z'
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: User or account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /receiver/uma/{receiverUmaAddress}:
    get:
      summary: Look up a UMA address for payment
      description: |
        Lookup a receiving UMA address to determine supported currencies and exchange rates.
        This endpoint helps platforms determine what currencies they can send to a given UMA address.
      operationId: lookupUma
      tags:
        - Sending Payments
      security:
        - BasicAuth: []
      parameters:
        - name: receiverUmaAddress
          in: path
          description: UMA address of the intended recipient
          required: true
          schema:
            type: string
        - name: senderUmaAddress
          in: query
          description: UMA address of the sender (optional if userId is provided)
          required: false
          schema:
            type: string
        - name: userId
          in: query
          description: System ID of the sender (optional if senderUmaAddress is provided)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful lookup
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ReceiverLookupResponse'
                  - type: object
                    required:
                      - receiverUmaAddress
                    properties:
                      receiverUmaAddress:
                        type: string
                        description: The UMA address that was looked up
                        example: $receiver@uma.domain
        '400':
          description: Bad request - Missing or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: UMA address not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '412':
          description: Counterparty doesn't support UMA version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error412'
        '424':
          description: Counterparty issue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error424'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /receiver/external-account/{accountId}:
    get:
      summary: Look up an external account for payment
      description: |
        Lookup an external account by ID to determine supported currencies and exchange rates.
        This endpoint helps platforms determine what currencies they can send to a given external account, along with the current estimated exchange rates and minimum and maximum amounts that can be sent.
      operationId: lookupExternalAccount
      tags:
        - Sending Payments
      security:
        - BasicAuth: []
      parameters:
        - name: accountId
          in: path
          description: System-generated ID of the external account
          required: true
          schema:
            type: string
            example: e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
        - name: senderUmaAddress
          in: query
          description: UMA address of the sender (optional if userId is provided)
          required: false
          schema:
            type: string
        - name: userId
          in: query
          description: System ID of the sender (optional if senderUmaAddress is provided)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful lookup
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ReceiverLookupResponse'
                  - type: object
                    required:
                      - accountId
                    properties:
                      accountId:
                        type: string
                        description: The external account ID that was looked up
                        example: e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
        '400':
          description: Bad request - Missing or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: External account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '412':
          description: Counterparty doesn't support UMA version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error412'
        '424':
          description: Counterparty issue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error424'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /quotes/{id}:
    get:
      summary: Get quote by ID
      description: |
        Retrieve a quote by its ID. If the quote has been confirmed, it will include  the current status and all transfer details.
      operationId: getQuoteById
      tags:
        - Sending Payments
      security:
        - BasicAuth: []
      parameters:
        - name: id
          in: path
          description: ID of the quote to retrieve
          required: true
          schema:
            type: string
          example: GridQuote:019542f5-b3e7-1d02-0000-000000000001
      responses:
        '200':
          description: Quote retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GridQuote'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: Quote not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /quotes:
    get:
      summary: List quotes
      description: |
        Retrieve a list of quotes with optional filtering parameters. Returns all quotes that match the specified filters. If no filters are provided, returns all quotes (paginated).
      operationId: listGridQuotes
      tags:
        - Sending Payments
      security:
        - BasicAuth: []
      parameters:
        - name: userId
          in: query
          description: Filter by user ID
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Filter by quote status
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - CONFIRMED
              - EXPIRED
              - FAILED
        - name: createdAfter
          in: query
          description: Filter quotes created after this timestamp (inclusive)
          required: false
          schema:
            type: string
            format: date-time
        - name: createdBefore
          in: query
          description: Filter quotes created before this timestamp (inclusive)
          required: false
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          description: Maximum number of results to return (default 20, max 100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          description: Cursor for pagination (returned from previous request)
          required: false
          schema:
            type: string
        - name: sortOrder
          in: query
          description: Order to sort results in
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasMore
                properties:
                  data:
                    type: array
                    description: List of quotes matching the criteria
                    items:
                      $ref: '#/components/schemas/GridQuote'
                  hasMore:
                    type: boolean
                    description: Indicates if more results are available beyond this page
                  nextCursor:
                    type: string
                    description: Cursor to retrieve the next page of results (only present if hasMore is true)
                  totalCount:
                    type: integer
                    description: Total number of quotes matching the criteria (excluding pagination)
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
    post:
      summary: Create a quote
      description: |
        Lock in a quote for transferring funds between a source account and destination account with currency exchange. This endpoint is specifically for cross-currency transfers where the source and destination accounts have different currencies.

        **Important:** If you are transferring funds in the same currency (no exchange required), use the `/transfer-in` or `/transfer-out` endpoints instead.
      operationId: createGridQuote
      tags:
        - Sending Payments
      security:
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - source
                - destination
                - amount
              properties:
                userId:
                  type: string
                  description: The ID of the user initiating the transfer
                  example: User:019542f5-b3e7-1d02-0000-000000000001
                source:
                  type: object
                  required:
                    - account_id
                    - currency
                  properties:
                    account_id:
                      type: string
                      description: Source account identifier
                      example: e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
                    currency:
                      type: string
                      description: Currency code for the source account
                      example: USD
                  description: Source account details
                destination:
                  type: object
                  required:
                    - account_id
                    - currency
                  properties:
                    account_id:
                      type: string
                      description: Destination account identifier
                      example: a12dcbd6-dced-4ec4-b756-3c3a9ea3d123
                    currency:
                      type: string
                      description: Currency code for the destination account
                      example: EUR
                  description: Destination account details
                amount:
                  type: integer
                  format: int64
                  description: The amount to transfer in the smallest unit of the source currency (eg. cents)
                  exclusiveMinimum: 0
                  maximum: 9000000000000000
                  example: 10000
            examples:
              usdToEur:
                summary: USD to EUR transfer
                value:
                  userId: User:019542f5-b3e7-1d02-0000-000000000001
                  source:
                    account_id: e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
                    currency: USD
                  destination:
                    account_id: a12dcbd6-dced-4ec4-b756-3c3a9ea3d123
                    currency: EUR
                  amount: 10000
      responses:
        '201':
          description: |
            Quote created successfully. The response includes all input details along with
            rate_details containing the exchange rate and fee breakdown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GridQuote'
        '400':
          description: Bad request - Missing or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: User or account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error501'
  /quotes/{id}/confirm:
    post:
      summary: Confirm a quote
      description: |
        Confirm and execute a quote by its ID. This endpoint locks in the quote
        and initiates the transfer between the source and destination accounts.
        Once confirmed, the quote cannot be cancelled and the transfer will be processed.
      operationId: confirmGridQuote
      tags:
        - Sending Payments
      security:
        - BasicAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: The unique identifier of the quote to confirm
          schema:
            type: string
          example: GridQuote:019542f5-b3e7-1d02-0000-000000000001
      responses:
        '200':
          description: |
            Quote confirmed successfully. The transfer has been initiated and
            the quote status has been updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GridQuote'
        '400':
          description: Bad request - Invalid quote ID or quote cannot be confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: Quote not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '409':
          description: Conflict - Quote already confirmed, expired, or in invalid state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /transactions:
    get:
      summary: List transactions
      description: |
        Retrieve a paginated list of transactions with optional filtering.
        The transactions can be filtered by user ID, platform user ID, UMA address, 
        date range, status, and transaction type.
      operationId: listTransactions
      tags:
        - Transactions
      security:
        - BasicAuth: []
      parameters:
        - name: userId
          in: query
          description: Filter by system user ID
          required: false
          schema:
            type: string
        - name: platformUserId
          in: query
          description: Filter by platform-specific user ID
          required: false
          schema:
            type: string
        - name: accountIdentifier
          in: query
          description: Filter by account identifier (either sender or receiver)
          required: false
          schema:
            type: string
        - name: senderAccountIdentifier
          in: query
          description: Filter by sender account identifier
          required: false
          schema:
            type: string
        - name: receiverAccountIdentifier
          in: query
          description: Filter by receiver account identifier
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Filter by transaction status
          required: false
          schema:
            $ref: '#/components/schemas/TransactionStatus'
        - name: type
          in: query
          description: Filter by transaction type
          required: false
          schema:
            $ref: '#/components/schemas/TransactionType'
        - name: reference
          in: query
          description: Filter by reference
          required: false
          schema:
            type: string
        - name: startDate
          in: query
          description: Filter by start date (inclusive) in ISO 8601 format
          required: false
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          description: Filter by end date (inclusive) in ISO 8601 format
          required: false
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          description: Maximum number of results to return (default 20, max 100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          description: Cursor for pagination (returned from previous request)
          required: false
          schema:
            type: string
        - name: sortOrder
          in: query
          description: Order to sort results in
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasMore
                properties:
                  data:
                    type: array
                    description: List of transactions matching the criteria
                    items:
                      $ref: '#/components/schemas/Transaction'
                  hasMore:
                    type: boolean
                    description: Indicates if more results are available beyond this page
                  nextCursor:
                    type: string
                    description: Cursor to retrieve the next page of results (only present if hasMore is true)
                  totalCount:
                    type: integer
                    description: Total number of transactions matching the criteria (excluding pagination)
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /transactions/{transactionId}:
    parameters:
      - name: transactionId
        in: path
        description: Unique identifier of the transaction
        required: true
        schema:
          type: string
    get:
      summary: Get transaction by ID
      description: Retrieve detailed information about a specific transaction
      operationId: getTransactionById
      tags:
        - Transactions
      security:
        - BasicAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /transactions/{transactionId}/approve:
    post:
      summary: Approve a pending incoming payment
      description: |
        Approve a pending incoming payment that was previously acknowledged with a 202 response.
        This endpoint allows platforms to asynchronously approve payments after async processing.
      operationId: approvePendingPayment
      tags:
        - Transactions
      security:
        - BasicAuth: []
      parameters:
        - name: transactionId
          in: path
          description: Unique identifier of the transaction to approve
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                receiverUserInfo:
                  type: object
                  additionalProperties: true
                  description: Information about the recipient, provided by the platform if requested in the original webhook via `requestedReceiverUserInfoFields`.
      responses:
        '200':
          description: Payment approved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingTransaction'
        '400':
          description: Bad request - Invalid parameters or payment cannot be approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '409':
          description: Conflict - Payment is not in a pending state or has already been processed or timed out.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /transactions/{transactionId}/reject:
    post:
      summary: Reject a pending incoming payment
      description: |
        Reject a pending incoming payment that was previously acknowledged with a 202 response.
        This endpoint allows platforms to asynchronously reject payments after additional processing.
      operationId: rejectPendingPayment
      tags:
        - Transactions
      security:
        - BasicAuth: []
      parameters:
        - name: transactionId
          in: path
          description: Unique identifier of the transaction to reject
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Optional reason for rejecting the payment. This is just for debugging purposes or can be used for a platform's own purposes.
                  example: RESTRICTED_JURISDICTION
      responses:
        '200':
          description: Payment rejected successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingTransaction'
        '400':
          description: Bad request - Invalid parameters or payment cannot be rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '409':
          description: Conflict - Payment is not in a pending state or has already been processed or timed out.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /webhooks/test:
    post:
      summary: Send a test webhook
      description: Send a test webhook to the configured endpoint
      operationId: sendTestWebhook
      tags:
        - Webhooks
      security:
        - BasicAuth: []
      responses:
        '200':
          description: Webhook delivered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestWebhookResponse'
        '400':
          description: Bad request - Webhook delivery failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /users/bulk/csv:
    post:
      summary: Upload users via CSV file
      description: |
        Upload a CSV file containing user information for bulk creation. The CSV file should follow
        a specific format with required and optional columns based on user type.

        ### CSV Format
        The CSV file should have the following columns:

        Required columns for all users:
        - umaAddress: The user's UMA address (e.g., $john.doe@uma.domain.com)
        - platformUserId: Your platform's unique identifier for the user
        - userType: Either "INDIVIDUAL" or "BUSINESS"

        Required columns for individual users:
        - fullName: Individual's full name
        - birthDate: Date of birth in YYYY-MM-DD format
        - addressLine1: Street address line 1
        - city: City
        - state: State/Province/Region
        - postalCode: Postal/ZIP code
        - country: Country code (ISO 3166-1 alpha-2)
        - accountType: Bank account type (CLABE, US_ACCOUNT, PIX, IBAN)
        - accountNumber: Bank account number
        - bankName: Name of the bank

        Required columns for business users:
        - businessLegalName: Legal name of the business
        - addressLine1: Street address line 1
        - city: City
        - state: State/Province/Region
        - postalCode: Postal/ZIP code
        - country: Country code (ISO 3166-1 alpha-2)
        - accountType: Bank account type (CLABE, US_ACCOUNT, PIX, IBAN)
        - accountNumber: Bank account number
        - bankName: Name of the bank

        Optional columns for all users:
        - addressLine2: Street address line 2
        - platformAccountId: Your platform's identifier for the bank account
        - description: Optional description for the user

        Optional columns for individual users:
        - email: User's email address

        Optional columns for business users:
        - businessRegistrationNumber: Business registration number
        - businessTaxId: Tax identification number

        Additional required columns based on account type:

        For US_ACCOUNT:
        - routingNumber: ACH routing number (9 digits)
        - accountCategory: Either "CHECKING" or "SAVINGS"

        For CLABE:
        - clabeNumber: 18-digit CLABE number

        For PIX:
        - pixKey: PIX key value
        - pixKeyType: Type of PIX key (CPF, CNPJ, EMAIL, PHONE, RANDOM)

        For IBAN:
        - iban: International Bank Account Number
        - swiftBic: SWIFT/BIC code (8 or 11 characters)

        See the UserBankAccountInfo and UserInfo schemas for more details on the required and optional fields.

        ### Example CSV
        ```csv
        umaAddress,platformUserId,userType,fullName,birthDate,addressLine1,city,state,postalCode,country,accountType,accountNumber,bankName,platformAccountId,businessLegalName,routingNumber,accountCategory
        john.doe@uma.domain.com,user123,INDIVIDUAL,John Doe,1990-01-15,123 Main St,San Francisco,CA,94105,US,US_ACCOUNT,123456789,Chase Bank,chase_primary_1234,,222888888,SAVINGS
        acme@uma.domain.com,biz456,BUSINESS,,,400 Commerce Way,Austin,TX,78701,US,US_ACCOUNT,987654321,Bank of America,boa_business_5678,Acme Corp,121212121,CHECKING
        ```

        The upload process is asynchronous and will return a job ID that can be used to track progress.
        You can monitor the job status using the `/users/bulk/jobs/{jobId}` endpoint.
      operationId: uploadUsersCsv
      tags:
        - Users
      security:
        - BasicAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV file containing user information
      responses:
        '202':
          description: CSV upload accepted for processing
          content:
            application/json:
              schema:
                type: object
                required:
                  - jobId
                  - status
                properties:
                  jobId:
                    type: string
                    description: Unique identifier for the bulk import job
                    example: Job:019542f5-b3e7-1d02-0000-000000000006
                  status:
                    type: string
                    enum:
                      - PENDING
                      - PROCESSING
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /users/bulk/jobs/{jobId}:
    get:
      summary: Get bulk import job status
      description: |
        Retrieve the current status and results of a bulk user import job. This endpoint can be used
        to track the progress of both CSV uploads.

        The response includes:
        - Overall job status
        - Progress statistics
        - Detailed error information for failed entries
        - Completion timestamp when finished
      operationId: getBulkUserImportJob
      tags:
        - Users
      security:
        - BasicAuth: []
      parameters:
        - name: jobId
          in: path
          description: ID of the bulk import job to retrieve
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Job status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUserImportJob'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /invitations:
    post:
      summary: Create an UMA invitation from a given platform user.
      description: |
        Create an UMA invitation from a given platform user.
      operationId: createInvitation
      tags:
        - Invitations
      security:
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - inviterUma
              properties:
                inviterUma:
                  type: string
                  description: The UMA address of the user creating the invitation
                  example: $inviter@uma.domain
                firstName:
                  type: string
                  description: First name of the invitee to show as part of the invite
                  example: Alice
                amountToSend:
                  description: |
                    An amount to send (in the smallest unit of the user's currency) to the invitee when the invitation is claimed.
                    This is optional and if not provided, the invitee will not receive any amount. Note that the actual sending of
                    the amount must be done by the inviter platform once the INVITATION_CLAIMED webhook is received. If the inviter
                    platform either does not send the payment or the payment fails, the invitee will not receive this amount. This
                    field is primarily used for display purposes on the claiming side of the invitation.
                  type: integer
                  format: int64
                  example: 12550
                expiresAt:
                  type: string
                  format: date-time
                  description: When the invitation expires (if at all)
                  example: '2023-09-01T14:30:00Z'
      responses:
        '201':
          description: Invitation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UmaInvitation'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /invitations/{invitationCode}:
    get:
      summary: Get a specific UMA invitation by code.
      description: |
        Get a specific UMA invitation by code.
      operationId: getInvitation
      tags:
        - Invitations
      security:
        - BasicAuth: []
      parameters:
        - name: invitationCode
          in: path
          description: The code of the invitation to get
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invitation retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UmaInvitation'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: Invitation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /invitations/{invitationCode}/claim:
    post:
      summary: Claim an UMA invitation
      description: |
        Claim an UMA invitation by associating it with an invitee UMA address.

        When an invitation is successfully claimed:
        1. The invitation status changes from PENDING to CLAIMED
        2. The invitee UMA address is associated with the invitation
        3. An INVITATION_CLAIMED webhook is triggered to notify the platform that created the invitation

        This endpoint allows users to accept invitations sent to them by other UMA users.
      operationId: claimInvitation
      tags:
        - Invitations
      security:
        - BasicAuth: []
      parameters:
        - name: invitationCode
          in: path
          description: The code of the invitation to claim
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - inviteeUma
              properties:
                inviteeUma:
                  type: string
                  description: The UMA address of the user claiming the invitation
                  example: $invitee@uma.domain
      responses:
        '200':
          description: Invitation claimed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UmaInvitation'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: Invitation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /invitations/{invitationCode}/cancel:
    post:
      summary: Cancel an UMA invitation
      description: |
        Cancel a pending UMA invitation. Only the inviter or platform can cancel an invitation.

        When an invitation is cancelled:
        1. The invitation status changes from PENDING to CANCELLED
        2. The invitation can no longer be claimed
        3. The invitation URL will show as cancelled when accessed

        Only pending invitations can be cancelled. Attempting to cancel an invitation
        that is already claimed, expired, or cancelled will result in an error.
      operationId: cancelInvitation
      tags:
        - Invitations
      security:
        - BasicAuth: []
      parameters:
        - name: invitationCode
          in: path
          description: The code of the invitation to cancel
          required: true
          schema:
            type: string
      responses:
[...]
