.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
  object-fit: contain;
  margin-bottom: 1rem;
  border: #333333 2px solid;
  border-radius: 8px;
}
