[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urllib3 = ">=1.25.3, < 3.0.0"
python_dateutil = ">=2.8.2"
pydantic = ">=2"
typing-extensions = ">=4.7.1"

[dev-packages]
black = "*"
pytest = "*"
isort = "*"
pylint = "*"
pyre-check = "*"
build = "*"
s3pypi = "*"
